/* Regular */
@font-face {
  font-family: 'Pixellari'; 
  src: url('font/ari-w9500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Pixellari'; 
    src: url('font/ari-w9500-condensed-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Display (Using 300 for 'lighter') */
@font-face {
    font-family: 'Pixellari'; 
    src: url('font/ari-w9500-condensed-display.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixellari', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #eab7ee);
}

.container {
    position: relative;
    width: 700px;
    height: 400px;
    background: #fff;

    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.form-box {
    position: absolute;     /*Child position*/
    right: 0;
    width: 50%;
    height: 100%; 
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
}

.form-box.register {
    visibility: hidden;
}

form {
    width: 100%;
}

.container h1 {
    font-family: 'Pixellari';
    font-weight: bold;
    font-size: 35px;
    margin: 5% 0;
}

.input-box {
    position: relative;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    padding: 8px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
}

.input-box input::placeholder {
    font-size: 13px;
    color: #888;
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    font-family: 20px;
    color: #888;
}

.forget-link {
    margin: 10px 0 20px 0;
}

.forget-link a {
    font-size: 15px;
    text-decoration: none;
}
.butt {
    display: flex;
    justify-content: center;
    margin: 15% 0 10px;
    gap: 35%;
}

.butt button {
    width: 100%;
    height: 30px;
    font-size: 12px;
    background: #A594F9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    border: 2px;
    margin: -10px 0 5px;
    cursor: pointer;
    font-weight: 600;
}

.container p {
    font-weight: bold ;
    font-size: 13px;
    margin: 10px 0;
}

.social-icons a {
    display: inline-flex;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    text-decoration: none;
   
}

.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #333;
    

}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #ec94f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toggle-panel p {
    margin-bottom: 20px;
}

.toggle-panel .btn-register-btn {
    width: 120px;
    height: 45px;
    font-weight: 300;
    background: transparent;
    border: 2px solid white;
    padding: 8px;
    border-radius: 10px;

}