@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Space+Grotesk:wght@300..700&display=swap');

:root{
  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-bg: #0c0e12;
  --color-container: #171a1f; 
  --color-surface-container-low: #111318;   /*Used for card, input values*/
  --color-surface-container-high: #1d2025;  /*Used for card, input values*/
  --color-surface-container-highest: #23262c;
  --color-surface-bright: #292c32;
  
  --color-primary: #81ecff; /*Used for main logo text, buttons and active navigation links*/
  --color-primary-container: #00e3fd;   /**/
  --color-on-primary: #005762;  /*used for text inside primary-colored buttons */
  
  --color-secondary: #d277ff;   /*Used in the hero section's "Sleeps" text gradient, 
                                the newsletter "Loop" text, and as a hover state for footer links.*/
  --color-secondary-container: #7d01b1;
  
  --color-tertiary: #beee00;    /*Used for "Live Now" status indicators (the glowing dots) and micro-labels like "Taste the Dark."*/
  --color-tertiary-container: #cafd00;

  --color-on-surface: #f6f6fc;  /*n off-white used for all primary headings and body text.*/
  --color-on-surface-variant: #aaabb0;  /*A muted gray used for descriptions and secondary information to reduce visual noise.*/
  --color-outline: #74757a; /*Used for borders and placeholder text in search bars.*/
  --color-outline-variant: #46484d; /*Subtle divider, low-emphasis borders */

    /* ======= z index ======= */
    --z-tooltip: 10;
    --z-fixed: 100;

}

/* ---============= Base Styles ==============--- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
    color: var(--color-on-surface);
    font-family: var(--font-body);
    line-height: 1.5;
    overflow-x: hidden;
}

h1, h2, h3, h4{
    font-family: var(--font-headline);
}

a{
    text-decoration: none;  /*Removes the default underline that browsers automatically apply to links*/
    color: inherit;
    transition: color 0.3s ease;    /*transition is used to animate and here the color is changing*/
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
    transition: all 0.3s ease;
}

/* --- Layout Utilities --- */
.container {
    max-width: 1280px;    /*This sets the "ceiling." On a huge screen, the content stops growing once it hits $1280\text{px}$.*/
    margin: 0 auto;   /*This is the classic trick for horizontal centering. 
    It sets the top/bottom margins to $0$ and tells the browser to split the remaining left/right space equally.*/
    padding: 0 2rem;  /*This adds a $32\text{px}$ "safety gap" on the left and right. 
  This ensures that on a small phone, your text doesn't touch the very edge of the glass.*/
}

.section-padding {
  padding: 6rem 1.5rem;
}

@media (min-width: 768px) { /*"Only do this if the screen is wider than 768px (tablets and desktops)."*/
  .section-padding {
    padding: 6rem 6rem;
  }
}

/*  ----------------- Navbar --------------  */

/*This CSS block styles a Sticky Navigation Bar. It ensures the menu stays at the top of the screen as the user 
scrolls, while using Flexbox to neatly space out the logo and the menu links.   */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 1.25rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    transition: all 0.3s ease;
}

@media (min-width: 768px) {
  nav {
    padding: 1.25rem 3rem;  /* For Tablet and desktop */
  }
}

nav.scrolled {  /* Scrolled effect */
  background: rgba(12, 14, 18, 0.6);
  backdrop-filter: blur(20px);  /*It blurs the background text/image */
  padding: 0.75rem 2rem;
}

.nav_logo{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--color-container);
    text-transform: uppercase;
    letter-spacing: -0.05rem;
}

.nav-links{
    display: none;
    gap: 2rem;
    align-items: center;
}

.nav-link{
    font-weight: 600;
    color: var(-on-surface-variant);
    letter-spacing: -0.02rem;   /* '-' : Instead of pushing letters apart, it pulls them closer together.*/
}

/* ======= HEADER AND NAV ======= */
.header {
    position: absolute;  /* sits on top of .home */
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;  /* no background — shows .home behind it */
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;  /* logo left, links right */
    align-items: center;
    padding: 0 2rem;
}


.nav_logo {
    color: white;
    font-weight: var(--font-bold);
    font-size: 1.5rem;
}

.nav_list {
    display: flex;       /* horizontal links */
    flex-direction: row;
    align-items:center;
    gap: 2rem;
}

.nav_menu{  /* Align the items in the navigation bar */
    display:flex;
    align-items:center;
}

.nav_link {
    font-size: 0.9rem;
    font-family: var(--font-mono);
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    transition: color 0.3s;
}

.nav_link:hover {
    color: #a78bfa;
}

.nav_item{
    font-family: var(--font-mono);
    font-weight: var(--font-regular);
}

.login_button button,
.registration_button button {
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #1B1A55;
    color: white;
    padding: 0.2rem .5rem;
    font-family: var(--font-mono);
    font-size: 0.9rem;
    font-weight: var(--font-medium);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.login_button button:hover,
.registration_button button:hover {
    background-color: #2d2b8a;
    transform: translateY(-3px);
}

.home {
    height:100vh;
    position: relative;
    background: linear-gradient(to bottom, rgba(12, 14, 18, 0.2), #0c0e12);linear-gradient(to bottom, rgba(12, 14, 18, 0.2), #0c0e12);
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.739), rgba(0, 0, 0, 0.663)), url('/images/bg.gif');*/
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home .section_container{
    padding: 10rem 10rem 0;
    display: flex;
    justify-content: center;
}

.section_content{
    display: flex;
    gap: 1rem;
}

.home .section_content{
    color:white;
    font-size: 20px;
}

.section_content button {
    border: 1px solid transparent;
    border-radius: 30px;
    font-family: var(--font-mono);
    background-color: #1B1A55;
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.section_content button:hover {
    background-color: #2d2b8a;
    transform: translateY(-3px);
}

h4 {
    font-weight: 500;
    font-size:20px;
    text-align: center;
    padding: 2rem 0 0;
}
h3{
    font-weight: 600;
    font-size:30px;
    padding: .5rem 0;
    text-align: center;
}

.container{
    background-color: black;
}

.post{
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(3, .5fr);
}

.card{
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    margin: 20px 20px;
}

.card img{
    align-items: center;
    width: 100%;
    height:300px;
    object-fit: cover;
}

.card_name{
    padding: 1rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 20px;
}

.card_name img{
    font-weight: 500;
    width: 20px;
    height: 15px;
}

.card_name span{
    color: white;
    font-style: italic;
}

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    , url('/images/download.gif');
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .section_container{
    padding: 8.5rem 2rem;
    display: flex;
    justify-content: center;
}

.banner_content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.banner_content h2{
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

.banner_content p{
    color: white;
}

.banner_content button{
    padding: 1rem 1.5rem;
    outline: none;
    border: 1px;
    background-color: var(--ring);
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

@media (min-width: 768px){
    .banner .section_container{
        justify-content: flex-end;
    }

    .banner_content{
        align-items: flex-end;
        text-align: right;
        max-width: 800px;
    }
}


